/* Open Sans google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* font-family: 'Open Sans', sans-serif; */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar{
  box-shadow: 0px 5px 9px #888888;
}

.footer{
  font-family: 'Open Sans', sans-serif;
  align-items: center;
  justify-content: center;
  color: #535252;
}
.footer h6{

  font-weight: 600;

}
.footer h6{

}

/* LOGIN FORM CSS */
.homepage {
  /* width: 100%; */
 
}

.homepage .login-form{
  box-shadow: 0px 5px 9px #888888;
width: 30%;
padding: 2%;
margin-top: 5%;
color: #535252;
margin-left: 5%;

}

.homepage .login-form button{
  background-color: rgb(73, 194, 235) !important;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  border: none;
  width: 100%;
}

.homepage .carousel{
  /* padding: 4%; */
 margin-left: 8%;
 margin-top: 5%;
  
}
.pnf{
  align-items: center;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 200%;
  color: rgb(109, 15, 15);
  margin: 7%;
  padding: 15%;
  font-weight: 700;
}


